
<mat-card class="search">
  <h1>XY időjárás előrejelzés</h1>
  <div>Add meg a települést</div>
  <div>
    <mat-form-field>
      <mat-select [formControl]="selectedCity">
        <mat-option *ngFor="let city of cities" [value]="city">{{
          city.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="updateResults(selectedCity.value)">
      Mutasd az időjárást
    </button>
  </div>
  <div>
    <h1>{{ selectedCity.value.name }}</h1>
    <table>
      <tr>
        <th>Dátum</th>
        <th>Idő</th>
        <th>Várható hőmérséklet</th>
      </tr>
      <tr *ngFor="let row of results">
        <td>{{ row.date }}</td>
        <td>{{ row.time }}</td>
        <td>{{ row.temp }} °C</td>
      </tr>
    </table>
  </div>
</mat-card>
